.addFoodContainer{
    font-size: 14px;
}
.addFood{
    border: 2px solid rgb(225, 225, 225);
    padding: 5px 10px;
    border-radius: 25px;
    background-color: white;
    display: flex;
}
.addFood button, .addFood input{
    padding: 5px;
}
.addFood input{
    border: none;
}
.addFood input:focus{
    outline: none;
}
.searchResults{
    background-color: white;
    margin: 2px;
    box-shadow: 0 0 8px rgb(225, 225, 225);
    border-radius: 5px;
}
.suggestion{
    padding: 5px 20px;
    cursor: pointer;
}
@media screen and (max-width: 600px){
    .addFood input{
        width: 100%;
    }
}