.addFoodContainer{
    font-size: 14px;
}
.addFood{
    display: flex;
    align-items: start;
    gap: 5px;
}
.addFood button, .addFood input{
    padding: 5px;
}
.searchResults{
    background-color: white;
    margin: 2px;
    position: absolute;
    box-shadow: 0 0 8px grey;
}
.suggestion{
    padding: 5px 20px;
    cursor: pointer;
}