.gridContainer{
    display: flex;
    width: 100%;
    gap: 30px;
}
.grid{
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
    width: 100%;
    height: fit-content;
}
.tableContainer{
    background-color: rgb(225, 225, 225);
    border-radius: 10px;
    box-shadow: 0 0 8px rgb(225, 225, 225);
}
.tableHeader{
    padding: 10px;
}
.foods-table{
    height: fit-content;
    width: 100%;
    border-spacing: 5px;
    border-radius: 10px;
    background-color: white;
    padding: 4px;
}
.foods-table tr{
    position: relative;
}
.foods-table td{
    font-size: 14px;
    padding: 10px;
}
.percentageBar{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    top: 0;
    border-radius: 10px;
    background-color: yellow;
    opacity: 0;
}
.perc-fiber{
    opacity: 1;
}
.perc-200{
    width: 100%;
    background-color: red;
}
.perc-100{
    width: 100%;
    background-color: rgb(87, 226, 87);
}
.perc-75{
    width: 75%;
    background-color: lime;
}
.perc-25{
    width: 25%;
    background-color: orange;
}
.perc10{
    width: 10%;
    background-color: red;
}
.tableCell{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.cellLeft, .cellMid, .cellRight{
    z-index: 2;
    position: relative;
}
.cellLeft{
    width: 40%;
}
.cellMid, .cellRight{
    width: 20%;
    text-align: end;
}
@media screen and (max-width: 800px){
    .gridContainer{
        display: flex;
        flex-direction: column;
    }
}