.header-container{
    border-bottom: 1px solid rgb(225, 225, 225);
    padding: 20px 100px;
}
.logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 40px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.logo-img{
    height: 90%;
}
.main-logo-text{
    display: block;
}
.alternate-logo-text{
    display: none;
}
.logo-text{
    /* background: linear-gradient(to right, #587e7e, #89577f); */
    background: linear-gradient(to right, #576969, #715d6d);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 600px){
    .header-container{
        padding: 20px 50px;
    }
    .logo-text{
        display: none;
    }
    .alternate-logo-text{
        display: block;
    }
}